*{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(184, 115, 51 , 0.850);    
}

h1,
h2,
h2{
    background-color: rgba(255, 255, 0, 0.185);
    text-align: center;
    font-weight: bold;
}

.main-img{
    width: 400px;
    height: 500px;
    margin-left: 500px;
}

ul{
    margin-right: 600px;
    float:right;
    font-size:30px;
    list-style: circle;
}

ol{
    text-align: center;
    list-style-position: inside;
}

.menu{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
